# front-app
/front-app/package-lock.json

/front-app/node_modules/**/*
/front-app/.expo/*
/front-app/npm-debug.*
/front-app/*.jks
/front-app/*.p8
/front-app/*.p12
/front-app/*.key
/front-app/*.mobileprovision
/front-app/*.orig.*
/front-app/web-build/

# macOS
/front-app/.DS_Store